{% extends "courses/base.html" %}
{% block content %}
    <div class="container-fluid">
      {% for video in videos %}
        <center>
          <div class="embed-responsive embed-responsive-16by9 w-50">
            <video controls controlsList="nodownload" oncontextmenu="return false;" autoplay>
              <source class="embed-responsive-item" src="{{video.video_file.url}}" allowfullscreen type="video/mp4">
              Your browser does not support HTML video.
            </video>
          </div>
        </center>
        <br>
        <div class="container">
        <div class="card text-center transparent" style="background-color:rgba(50,50,50,0.9);">
          <div class="card-header">
            <h4>{{video.video_title}}<h4>
          </div>
          <div class="card-body">
            <p class="card-text"><h6 class="text-left">{{video.notes}}</h6></p>
          </div>
          <div class="card-footer">
            <h6>{{video.created_at}}<h6>
          </div>
        </div>
        </div>
        <br>
      {% endfor %}
    </div>
{% endblock content %}
