{% extends "courses/base.html" %}
<!DOCTYPE html>
{% block content %}
<div>
  {% if user.is_authenticated %}
  <h3>Hello {{user.username}}</h3>
  {% endif %}
</div>
<div class="container">
  <strong><p style="color: white;">Available courses</p></strong>
  {% for course in courses %}
  <div class="box">
    <img src="{{course.course_image.url }}" />
    <br />
    <a href="{% url 'Courses-view' %}"><p>{{course.course_name}}</p></a>
    <a href="{#}"><p>Taught by-{{course.instructor}}</p></a>
    <img
      src="{{course.instructor.user.image.url}}"
      class="rounded-circle float-right"
    />
  </div>
  {% endfor %}
</div>
{% endblock content %}
